.triangle {
    width: 0;
    height: 0;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-top: 0;
    border-bottom: 500px solid #8098ba;
}

.line-dashed {
    border-top-width: 20px;
    border-style: none;
    border-top-style: dashed;
    /* colour code from: https://www.w3schools.com/cssref/pr_text_color.php */
    color: yellow;
}

hr {
    border-width: 10px;
}

/* Flex is to make the shapes align beside each other */
.flex {
    display: flex;
    gap: 0px;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 30%;
    background-color: red;
}

.rectangle {
    height: 100px;
    /* how can i make the width of the rectangle fit to window size  */
    width: 1500px;
    background-color: rgb(89, 83, 104);
    border-left: 0;
  }

/* background colour tutorial from https://www.w3schools.com/cssref/pr_background-color.php*/
body {
    background-image: linear-gradient(yellow, coral);
} 

.depth-layering .front {
    position: absolute;
    top: 60px;
    left: 60px;
    border: 2px solid white;
}

.depth-layering .back {
    position: absolute;
    top: 0;
    left: 0;
}
