* {
    background-image: url(https://gifdb.com/images/high/pixelated-star-background-e09dbw6zvuyp420b.gif);
    /* background-color: rgb(24, 12, 69); */
    cursor: none;
}

h2 {
    text-align: center;
}

h3 {
    color: plum;
}

h4 {
    color: plum;
}

body {
    color: white;
    background-image: none;
    margin: 10px;
    padding: 10px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

p {
    line-height: 1.6;
}

#home {
    font-size: 20px;
}

.spaceMonoAdobe {
    font-family: "space-mono", mono;
    font-weight: 700;
    font-style: italic;
    font-size: 15px;
    line-height: 1.5;
}

.micro-5-regular {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#astronaut {
    position: absolute;

    pointer-events: none;
    /* to prevent the follower div from interfering with mouse events */

    height: 100px;
    animation: rotateImage 5s infinite linear;
    z-index: 2;
    background: none;
}

@keyframes rotateImage {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

a {
    color: pink;

    &:hover {
        color: rgb(187, 253, 129);
    }
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    /* background: #130e23; */
}

section .text {
    position: relative;
    text-align: center;
    color: #ffffff;
    margin: 40px;
    font-size: 60px;
    /* max-width: 650px; */
}

section .text span {
    position: relative;
    display: inline-block;
    background: none;
}