.monospace{
    font-family: monospace;
}

.adobe-font{
    font-family: "variex", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.google-font{
    font-family: 'Caprasimo', serif;
    &:hover{
        animation-name: slide-right;
        animation-duration: 1s;
    }
}


 
@font-face {
        font-family: 'Bespoke';
        src: url('Bespoke-IIMDc40HiI.eot');
        src: url('Bespoke-IIMDc40HiI.eot?#iefix') format('embedded-opentype'),
           url('Bespoke-IIMDc40HiI.woff') format('woff'),
           url('Bespoke-IIMDc40HiI.ttf') format('truetype'),
           url('Bespoke-IIMDc40HiI.svg#Bespoke-IIMDc40HiI') format('svg');
}

.self-hosted{
   font-family: 'Bespoke', sans-serif;
   transition:color 750ms, transform 750ms;
   &:hover {
    color: lawngreen;
    transform: translateX(100px);
   }
}

@keyframes slide-right {
    to{
        transform: translateX(0px);
    }

    from{
        transform: translateX(10px);
    }
}

span {
    display: block;
}


/* 
.self-hosted:hover{
    color:red;
} */