/* Nora Tunggadevi
3190797
Prof. Peter Ha
Interactive Media Web (GDES-3091-501)
Jan 23,2024 */

img{
    width: 500px;
    margin: auto;
}

h1{
    text-align: center;
}

p1{
    text-align: center;
}
