/* Nora Tunggadevi
3190797
Prof. Peter Ha
Interactive Media Web (GDES-3091-501)
Jan 23,2024 */

/* img{
    width: 500px;
    margin: auto;
} */

.image {
    width: 500px;
}

h1 {
    text-align: center;
}

p {
    line-height: 1.5;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}